<%- include('fragments/_header') %>

<div class="container mt-5">
	<h1>TODO list</h1>
	<div id="new-todo"><%- include('fragments/_newTodo') %></div>
	<div id="filters"><%- include('fragments/_filters') %></div>
	<div id="todos"><%- include('fragments/_todos') %></div>
</div>
<%- include('fragments/_footer') %>
